<hr>
<p>
  <%= image_tag product.image.tiny %>
</p>
<p>
  <h4><%= product.name %></h4>
</p>
<p><%= product.description %></p>
</p>
<p>
Price:
<%= product.price %>
</p>
<p>
Quantity:
<%= quantity %>
</p>
<p>
Total Cost:
<%= product.price * quantity %>
</p>
